<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum deserunt iure corporis doloribus maiores assumenda sint. Atque consequuntur reiciendis velit porro delectus nisi corrupti deleniti fugit a, explicabo illum exercitationem hic eos quisquam totam dicta eaque, quia accusamus temporibus esse!</p>
        
    </div>
</div>