<div class="jumbotron mt-4">
    <h1 class="display-4">Notes App Nodejs and Mongodb</h1>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
    <hr class="my-4">
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iste hic, obcaecati voluptate quas necessitatibus aspernatur mollitia laborum saepe animi natus omnis, fuga perferendis odit accusamus doloribus harum vitae voluptatum repudiandae!</p>
    <a href="http://google.com" class="btn btn-primary btn-lg">ChemaLink</a>
</div>